.coins-area {
  &__buttons {
    padding: 20px 100px;

    &__item {
      margin: 0 10px 0 0;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 100px;
    width: calc(100% / 2);
    height: 600px;
  }

  &__chart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% / 2);
    height: 600px;

    &__title {
      margin: 0;
      padding: 0 10px;
      color: var(--color-black);
      @include font-size(20, 30, 700);
    }

    &__no-data {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 20px 0;
      width: 100%;
      height: 600px;
    }
  }
}
