.symbols {
  width: 100%;
  height: 400px;
  overflow-y: auto;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px solid var(--color-gray);
    border-radius: 8px;

    &__buttons {
      display: flex;
      flex-direction: row;

      & input {
        padding: 0 10px;
        width: 90px;
        border: 1px solid var(--color-gray);
        border-radius: 8px;
      }

      &__item {
        margin: 0 0 0 12px;

        &.add--button {
          width: 175px;
        }
      }
    }
  }
}
