$rem-baseline: 16;

@mixin font-size($size: $rem-baseline, $line: $size * 1.6, $weight) {
  font-size: $size + px;
  font-size: ($size / $rem-baseline) + rem;
  line-height: ($line) + px;
  line-height: ($line / $rem-baseline) + rem;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  font-weight: $weight;
}
